@using Tunnlr.Client.Web.Persistence
@using Tunnlr.Client.Persistence
@using Tunnlr.Client.Persistence.Models
@namespace Tunnlr.Client.Web.Components.AddTunnel
@inject TunnlrClientDbContext ClientDbContext;
<MudPaper Class="pa-4">
    <MudForm Model="@_model"@bind-IsValid="@_success" @bind-Errors="@_errors">
        <MudTextField T="string" Label="Target URI" Required="true" @bind-Value="_model.TargetUri" Placeholder="https://127.0.0.1:8080" RequiredError="Target URI is required!" />
        <div class="d-flex align-center justify-space-between">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success)" Class="ml-auto" OnClick="Add">Add</MudButton>
        </div>
    </MudForm>   
</MudPaper>

@code {
    bool _success;
    string[] _errors = { };
    private AddTunnelForm _model = new ();
    
    [Parameter]
    public Action? OnUpdate { get; set; }

    private async Task Add()
    {
        await ClientDbContext.AddAsync(new Tunnel
        {
            TargetUri = _model.TargetUri ?? string.Empty,
        });

        await ClientDbContext.SaveChangesAsync();
        OnUpdate?.Invoke();
    }
}