@namespace Tunnlr.Client.Web.Components.PremiumFeature


<MudAlert Severity="Severity.Warning">This feature will be part of a premium plan when Tunnlr is fully released. However, you can use premium features for free if you
    <a href="https://github.com/gerwim/tunnlr/blob/master/self-hosting.md" target="_blank" rel="noopener">self host</a> Tunnlr.</MudAlert>